# https://pip.pypa.io/en/stable/reference/pip_install/#example-requirements-file
# https://pip.pypa.io/en/stable/reference/pip_install/#vcs-support for git installs
numpy
pandas
spacy
fn
funcy
toolz
efficient-apriori
sklearn
scipy
-e git+https://github.com/a-laughlin/a-laughlin.git#egg=a_laughlin_py_utils&subdirectory=a_laughlin_py_utils
